{% extends 'main.html' %}

{% load static %}
{% block title %}{{event_details.title}}500 Internal Server Error{% endblock title %}
{% block description %}<meta name="description" content="Events - PES University" />{% endblock %}
{% block content %}

<!-- main -->
<div id="main">
    <!-- header -->
    {% include 'navbar.html' %}
    <!-- header end  -->
    <!-- wrapper  -->	
    <div id="wrapper">
        <!-- content -->	
        <div class="content">
            <!--  section  -->
            <section class="parallax-section color-bg" data-scrollax-parent="true">
                <div class="container">
                    <div class="error-wrap">
                        <div class="hero-text-big">
                            <h6>500</h6>
                        </div>
                        <p>Oops! Something went wrong on our server. We're working to fix it.</p>
                        <div class="clearfix"></div>
                        
                        <div class="clearfix"></div>
                        
                        <a href="{% url 'index' %}" class="btn   color-bg">Back to Home Page</a>
                    </div>
                </div>
                <div class="pwh_bg fw-pwh">
                    <div class="mrb_pin vis_mr mrb_pin3 "></div>
                    <div class="mrb_pin vis_mr mrb_pin4 "></div>
                </div>
            </section>
            <!--  section  end-->
        </div>
        <!-- content end -->
        {% include 'footer.html' %}
    </div>
    <!--register form -->
    {% include 'login.html' %}
    <!--register form end -->
</div>
{% endblock content %}