<!-- access_denied.html -->

{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- wrapper  -->	
<div id="wrapper">
    <!-- content -->	
    <div class="content">
        <!-- section -->
        <section class="parallax-section color-bg" data-scrollax-parent="true">
            <div class="container">
                <div class="error-wrap">
                    <div class="hero-text-big">
                        <h6>Access Denied</h6>
                    </div>
                    <p>You don't have permission to access this page.</p>
                    <div class="clearfix"></div>
                    
                    <div class="clearfix"></div>
                    
                    <a href="{% url 'index' %}" class="btn   color-bg">Back to Home Page</a>
                </div>
            </div>
            <div class="pwh_bg fw-pwh">
                <div class="mrb_pin vis_mr mrb_pin3 "></div>
                <div class="mrb_pin vis_mr mrb_pin4 "></div>
            </div>
        </section>
        <!-- section end -->
    </div>
    <!-- content end -->
    {% include 'footer.html' %}
</div>

{% endblock content %}
