{% extends 'main.html' %}

{% load static %}
{% block title %}Archive - PES University{% endblock title %}
{% static 'Uploads' as baseUrl %}

{% block content %}
<!-- main -->
<div id="main">
    <!-- header -->
    {% include 'navbar.html' %}
    <!-- header end  -->
    <!-- wrapper  -->	
    <div id="wrapper">
        
        <!-- dashbard-menu-wrap -->
        {% include 'sidebar.html' %}
        <!-- dashbard-menu-wrap end  -->		
        <!-- content -->	
        <div class="dashboard-content">
            <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
            <div class="container dasboard-container">
                <!-- dashboard-title -->	
                <div class="dashboard-title fl-wrap">
                    <div class="dashboard-title-item"><span>Archive</span></div>
                    <div class="dashbard-menu-header">
                        <div class="dashbard-menu-avatar fl-wrap">
                            <a href="#">
                                <img src="{% static 'images/admin.jpg' %}" alt="">
                                <h4><span>{{ user.name | capfirst}}</span></h4>
                            </a>
                        </div>
                        <a href="{% url 'logout-page' %}" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                    </div>
                                            
                </div>
                <!-- dashboard-title end -->
                <!-- dashboard-title end -->		
                <div class="dasboard-wrapper fl-wrap">
                    <div class="dasboard-listing-box fl-wrap">
                        <div class="dasboard-opt sl-opt fl-wrap">
                            <div class="dashboard-search-listing">
                                <form method="get" action="{% url 'archive-page' %}">
                                    <input type="text" placeholder="Type your text here.." value="" name="archive-search" class="search" />
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </form>
                            </div>
                            <a href="{% url 'create-account' %}" class="gradient-bg dashboard-addnew_btn">Add Club <i class="fal fa-plus"></i></a>	
                        </div>
                        
                        <!-- dashboard-listings-wrap-->
                        <div class="dashboard-listings-wrap fl-wrap">
                            <div class="row">
                                <!-- dashboard-listings-item-->
                                {% for club in all_pages.object_list %}
                                <div class="col-md-6">
                                    <div class="dashboard-listings-item fl-wrap">
                                        <div class="dashboard-listings-item_img">
                                            <div class="bg-wrap">
                                                {% if club.club_image %}
                                                    <div class="bg "  data-bg="{{ club.club_image.url }}"></div>
                                                {% else %}
                                                    <div class="bg "  data-bg="{% static 'images/def-cover.jpg' %}"></div>
                                                {% endif %}
                                                
                                            </div>
                                            <div class="overlay"></div>
                                            <a href="{% url 'club-details' club.permalink %}" class="color-bg">View</a>
                                        </div>
                                        <div class="dashboard-listings-item_content">
                                            <h4><a href="{% url 'club-details' club.permalink %}">{{club.title}}</a></h4>
                                            <div class="geodir-category-location">
                                                {% if club.description %}
                                                <a href="{% url 'club-details' club.permalink %}"><i class="fal fa-comment-alt-lines"></i> <span>{{club.description|slice:":35"|default:'' }}{% if club.description|length > 35 %}...{% endif %}</span></a>
                                                {% endif %}
                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- <div class="listing-rating card-popup-rainingvis tolt" data-microtip-position="right" data-tooltip="Good" data-starrating2="4"></div> -->
                                            <div class="dashboard-listings-item_opt">
                                                <span class="viewed-counter"><i class="fas fa-eye"></i>  {{club.views}}  </span>
                                                <ul>
                                                    <li><a href="{% url 'publish-club' club.pk %}" onclick="return confirm('Are you sure, want to Publish this club '+ '{{club.title}}')" class="tolt" data-microtip-position="top-left"  data-tooltip="Publish"><i class="fal fa-paper-plane"></i></a></li>
                                                    <!-- <li><a href="#" class="tolt" data-microtip-position="top-left"  data-tooltip="Disable"><i class="far fa-signal-alt-slash"></i></a></li> -->
                                                    <li><a href="{% url 'delete-club-account' club.pk %}" onclick="return confirm('Are you sure, want to Delete '+ '{{club.title}}')" class="tolt" data-microtip-position="top-left"  data-tooltip="Delete"><i class="far fa-trash-alt"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- dashboard-listings-item end--> 											
                            </div>
                        </div>
                        <!-- dashboard-listings-wrap end-->
                    </div>

                    <center>
                        <div class="pagination " style="margin-top: 1%; margin-bottom: 0%; ">
                            
                            {%if all_pages.has_previous %}
                                <a href="?page={{all_pages.previous_page_number}}" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                            {% endif %}
                                <a href="?page={{all_pages.all_pages.number}}" >{{all_pages.number}}</a>
                                <!-- <a href="?page={{all_pages.all_pages.number}}" >{{all_pages.number}}</a> -->
                            {%if all_pages.has_next %}
                                <a href="?page={{all_pages.next_page_number}}" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                    </center>
                    <!-- pagination end-->
                </div>
            </div>
            
        </div>
        <!-- content end -->	
        <div class="dashbard-bg gray-bg"></div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
{% endblock content %}