
{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}{% if form.instance.id %}Edit Group {% else %}Create Group{% endif %} - PES University{% endblock title %}
{% block content %} 
<!-- main -->
<div id="main">
  <!-- header -->
  {% include 'navbar.html' %}
  <!-- header end  --> 
  <!-- wrapper  -->
  <div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay"></div>
    <!-- sidebar menu start -->
    {% include 'sidebar.html' %}
    <!-- sidebar menu end -->
    <!-- dashbard-menu-wrap end  -->
    <!-- content -->
    <div class="dashboard-content">
        <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
        <div class="container dasboard-container">
            <!-- dashboard-title -->
            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>{% if form.instance.id %}Edit Group {% else %}Create Group{% endif %}</span>
            </div>
            <div class="dashbard-menu-header">
                <div class="dashbard-menu-avatar fl-wrap">
                  <a href="#">
                        <img src="{% static 'images/admin.jpg' %}" alt="">
                        <h4>{{ user.name | capfirst}}</h4>
                      </a>
                </div>
                <a href="{% url 'logout-page' %}" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
            </div>
                
            </div>
            <!-- dashboard-title end -->
            {% if messages %}
            <div class="notification success-notif  fl-wrap">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <a class="notification-close" href="#"><i class="fal fa-times"></i></a>
                </div>
            {% endif %}
            <!-- dasboard-wrapper-->

            <div class="dasboard-wrapper fl-wrap no-pag ">
              <div class="row">
                {% if request.user|check_requested_permissions:'add_permissions' %}
                <div class="col-md-8">
                      <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="dasboard-widget-title fl-wrap">
                            <h5><i class="fas fa-user"></i>Group / Permissions</h5>
                        </div>
                        <div class="dasboard-widget-box fl-wrap">
                            <div class="custom-form">
                                
                                <label>Group Name *<span class="dec-icon"><i class="far fa-users"></i></span></label>
                                {{form.name}}
                                {% if form.name.errors %}
                                    <div class="text-danger">{{ form.name.errors|join:", " }}</div>
                                {% endif %}

                                <div class="pass-input-wrap fl-wrap">
                                  <label>Group Permissions </label>
                              

                              <div class=" add-list-tags fl-wrap">
                                <!-- Checkboxes -->
                                <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                  
                                  <!-- <li>{{form.permissions}}</li> -->
                                  <div class="row">
                                    
                                  {% for permission in form.permissions %}
                                  <div class="col-sm-6"><li>{{ permission }}</li></div>
                                  {% endfor %}
                                </div>
                                </ul>
                                <!-- Checkboxes end -->		
                                {% if form.permissions.errors %}
                                      <div class="text-danger">{{ form.permissions.errors|join:", " }}</div>
                                  {% endif %}										
                            </div>
                            <button class="add-room-item" type="button" id="select-all-btn">Select All <i class="fal fa-plus"></i></button>
                        

                            <script>
                              document.addEventListener('DOMContentLoaded', function() {
                                var selectAllBtn = document.getElementById('select-all-btn');
                                var permissionsCheckboxes = document.querySelectorAll('input[name="permissions"]');
                            
                                selectAllBtn.addEventListener('click', function() {
                                  var isChecked = permissionsCheckboxes[0].checked;
                                  permissionsCheckboxes.forEach(function(checkbox) {
                                    checkbox.checked = !isChecked;
                                  });
                            
                                  isChecked = !isChecked;
                                  selectAllBtn.textContent = isChecked ? 'Deselect All' : 'Select All';
                                });
                              });
                            </script>
                          </div>
                                
                            </div>
                        </div>
                        <input type="submit" class="btn    color-bg  float-btn" value="Save Changes"   style="border:none;">
                      </form>
                        
                    </div>
                    {% endif %}
                    {% if all_user_groups %}
                    {% if request.user|check_requested_permissions:'view_permission' %}
                    <div class="col-md-4">
                      <div class="dasboard-widget fl-wrap">
                          <div class="dasboard-widget-title dbt-mm fl-wrap">
                            <h5><i class="fas fa-users"></i>Groups</h5>
                          </div>
                          <div class="chat-contacts fl-wrap">
                            {% for single_group in all_user_groups %}
                              <!-- chat-contacts-item-->
                              <div class="chat-contacts-item">
                                  <div class="dashboard-message-avatar">
                                      <img src="{% static 'images/groups.jpg' %}" alt="">
                                      <!-- <div class="message-counter">2</div> -->
                                  </div>
                                  <div class="chat-contacts-item-text">
                                      <h4>{{single_group.name}}</h4>
                                      {% if request.user|check_requested_permissions:'change_permission' %}
                                      <a style="position: initial !important;" href="{% url 'edit_user_groups_form' single_group.id %}"><span>Edit </span></a>
                                      {% endif %}
                                      <p></p>
                                  </div>
                                </div>
                              <!-- chat-contacts-item -->
                              {% endfor %}
                          </div>
                      </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                
            
            </div>
            <!-- dasboard-wrapper end -->
        </div>
        <!-- dashboard-footer -->
        
        <!-- dashboard-footer end -->
    </div>
    <!-- content end -->
    <div class="dashbard-bg gray-bg"></div>
  </div>
  <!-- wrapper end -->
</div>
<!-- Main end -->
{% endblock %}

