{% extends 'main.html' %}

{% load static %}
{% block title %}Department - PES University{% endblock title %}
{% block description %}<meta name="description" content="Events - PES University" />{% endblock %}
{% block content %}
<!-- main -->
<div id="main">
    <!-- header -->
    {% include 'navbar.html' %}
    <!-- header end  -->
    <!-- wrapper  -->	
    <div id="wrapper">
        <!-- dashbard-menu-wrap -->
        <div class="dashbard-menu-overlay"></div>
        <!-- sidebar menu start -->
        {% include 'sidebar.html' %}
        <!-- sidebar menu end -->
        <!-- dashbard-menu-wrap end  -->		
        <!-- content -->	
        <div class="dashboard-content">
            <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
            <div class="container dasboard-container">
                <!-- dashboard-title -->	
                <div class="dashboard-title fl-wrap">
                    <div class="dashboard-title-item"><span>Department </span></div>
                    <div class="dashbard-menu-header">
                        <div class="dashbard-menu-avatar fl-wrap">
                            <img src="{% static 'images/admin.jpg' %}" alt="">
                            <h4><span>{{ user.name | capfirst}}</span></h4>
                        </div>
                        <a href="{% url 'logout-page' %}" class="log-out-btn   tolt" data-microtip-position="bottom" data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                    </div>			
                </div>
                <!-- dashboard-title end -->
                <!-- dasboard-wrapper-->
                <div class="dasboard-wrapper fl-wrap no-pag">
                    <div class="row">
                        <div class="col-md-10">
                            {% if add_department %}
                            <div class="dasboard-widget-title fl-wrap">
                                <h5><i class="fal fa-school"></i>Add Department</h5>
                            </div>
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <form action="{% url 'department-settings' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if add_department.department.errors %}
                                            <div class="text-danger">{{ add_department.department.errors|join:", " }}</div>
                                        {% endif %}
                                        <label> Department <span class="dec-icon"><i class="fal fa-school"></i></span></label>
                                        {{ add_department.department }}

                                        {% if add_department.department_navbar.errors %}
                                            <div class="text-danger">{{ add_department.department_navbar.errors|join:", " }}</div>
                                        {% endif %}
                                        <label> Display on Navbar <span class="dec-icon"><i class="fa fa-bars"></i></span></label>
                                        {{ add_department.department_navbar }}

                                        {% if add_department.department_priority.errors %}
                                            <div class="text-danger">{{ add_department.department_priority.errors|join:", " }}</div>
                                        {% endif %}
                                        <label> Department Priority <span class="dec-icon"><i class="fa fa-random"></i></span></label>
                                        {{ add_department.department_priority }}

                                        {% if add_department.department_permalink.errors %}
                                            <div class="text-danger">{{ add_department.department_permalink.errors|join:", " }}</div>
                                        {% endif %}
                                        <label> Department Peramlink <span class="dec-icon"><i class="far fa-external-link-alt"></i></span></label>
                                        {{ add_department.department_permalink }}
                                        <div class="">
                                            <label>Display at Navbar </label>
                                            <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                <li>
                                                    {% for value, label in add_department.navbar_display.field.choices %}
                                                        {% if value == add_department.initial.navbar_display %}
                                                            <input type="radio" name="{{ add_department.navbar_display.name }}" value="{{ value }}" checked>
                                                        {% else %}
                                                            <input type="radio" name="{{ add_department.navbar_display.name }}" value="{{ value }}">
                                                        {% endif %}
                                                        <label class="radio inline">{{ label }}</label>
                                                    {% endfor %}
            
                                                </li>
                                            </ul>      
                                        </div>
                                        
                                        <input type="submit" class="btn  color-bg float-btn" value="   Add   " style="border:0px;">							
                                    
                                    </form>
                                </div>
                            </div>
                            {% else %}
                            <div class="dasboard-widget-title fl-wrap">
                                <h5><i class="fal fa-school"></i>Edit Department</h5>
                            </div>
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <form action="{% url 'edit-single-department' edit_department.instance.department_id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="col-sm-12">	
                                            {% if edit_department.department.errors %}
                                                <div class="text-danger">{{ edit_department.department.errors|join:", " }}</div>
                                            {% endif %}	
                                            <label> Department <span class="dec-icon"><i class="fal fa-school"></i></span></label>
                                            {{ edit_department.department }}
                                            
                                            {% if edit_department.department_navbar.errors %}
                                                <div class="text-danger">{{ edit_department.department_navbar.errors|join:", " }}</div>
                                            {% endif %}
                                            <label> Display on Navbar <span class="dec-icon"><i class="fa fa-bars"></i></span></label>
                                            {{ edit_department.department_navbar }}
                                            
                                            {% if edit_department.department_priority.errors %}
                                                <div class="text-danger">{{ edit_department.department_priority.errors|join:", " }}</div>
                                            {% endif %}
                                            <label> Department Priority <span class="dec-icon"><i class="fa fa-random"></i></span></label>
                                            {{ edit_department.department_priority }}
                                            
                                            {% if edit_department.department_permalink.errors %}
                                                <div class="text-danger">{{ edit_department.department_permalink.errors|join:", " }}</div>
                                            {% endif %}
                                            <label> Department Peramlink <span class="dec-icon"><i class="far fa-external-link-alt"></i></span></label>
                                            {{ edit_department.department_permalink }}
                                            
                                            <div class="">
                                                <label>Display at Navbar </label>
                                                <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                    <li>
                                                        {% for value, label in edit_department.navbar_display.field.choices %}
                                                            {% if value == edit_department.initial.navbar_display %}
                                                                <input type="radio" name="{{ edit_department.navbar_display.name }}" value="{{ value }}" checked>
                                                            {% else %}
                                                                <input type="radio" name="{{ edit_department.navbar_display.name }}" value="{{ value }}">
                                                            {% endif %}
                                                            <label class="radio inline">{{ label }}</label>
                                                        {% endfor %}
                
                                                    </li>
                                                </ul>      
                                            </div>
                                            <h5><input type="submit" class="btn  color-bg float-btn" value="   Save   " style="border:0px;"> </h5>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}

                            {% if all_department %}
                            <div class="dasboard-widget-title dwb-mar fl-wrap margin-top">
                                <h5><i class="fal fa-school"></i>Department</h5>
                            </div>
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    {% for department in all_department %}
                                    <div class="col-md-4" style="padding: 0px 5px;">
                                    <div class="pass-input-wrap fl-wrap">
                                        <label><span class="dec-icon"><a href="{% url 'edit-single-department' department.department_id %}"  class="tolt" data-microtip-position="top-left" data-tooltip="Edit"><i class="far fa-edit color-blue"></i></a></span></label>
                                        <input type="text" class="pass-input" value="{{ department.department }}, {{ department.department_priority }}" readonly>
                                        
                                        
                                        <span class="eye"><a href="{% url 'delete-single-department' department.department_id %}" class="tolt" data-microtip-position="top-left" data-tooltip="Delete" ><i class="far fa-trash-alt color-blue"></i></a> </span>
                                        
                                    </div>
                                </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                <!-- dasboard-wrapper end -->	
            </div>
                    
        </div>
        <!-- content end -->	
        <div class="dashbard-bg gray-bg"></div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end --> 

{% endblock content %}

        